* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 0.9375rem;

  @media (min-width: 1001px) and (max-width: 1352px) {
    width: 100%;
    padding: 0 0.9375rem;
  }

  @media (min-width: 1353px) {
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;
  }
}

.flex_box {
  display: flex;
}

.hidden {
  display: none;
}

.active {
  display: block;
}