.contact div {
  margin-top: 2rem;
  justify-content: center;
}

.left {
  flex-direction: column;
  padding-right: 4.375rem;

  h2 {
    font-family: $secondary-font;
    font-size: 3rem;
    font-weight: 400;
  }

  .text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
  }

  .photo-icons {
    font-family: "Open Sans", sans-serif;
    color: #A5A5A5;
    padding-bottom: 21.88rem;

    .mail-image {
      padding-right: 1.25rem;

      img {
        margin-right: 1.25rem;
        vertical-align: middle;
      }
    }

    .phone-image {
      padding-left: 1.25rem;

      img {
        margin-right: 1.25rem;
        vertical-align: middle;
      }
    }
  }
}

.right {
  width: 40%;
  padding-left: 4.375rem;

  .contact-form {
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.25rem;
    color: #08A6E4;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 1.25rem;

    label {
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 1.875rem;
    }

    input {
      height: 3.125rem;
      padding: 0 1rem;
      margin-top: 0.5rem;
      border-bottom: 2px #707070 solid;
      opacity: 0.5;
    }
  }

  button {
    width: 14.13rem;
    height: 3.563rem;
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    font-size: 0.8125rem;
    color: #FFFFFF;
    font-family: $main-font;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-left: 14.38rem;
  }
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;

  &::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: #FFFFFF;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
  }
  &:checked::after {
    content: "";
    background: #FFFFFF url("../../images/Checkmark.svg") no-repeat center;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.checkbox {
  .checkbox-text {
    font-size: 0.75rem;
    width: 90%;
    text-align: left;
    font-family: $secondary-font;
    color: #707070;
    padding-left: 1.25rem;
    line-height: 1.0625rem;
  }
}

