main {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 87.1875rem;
  padding: 6.563rem 0;
  background: #F7F7F7;

  article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70.25rem;
    height: 23.125rem;
    border-radius: 5px;
    margin: 0 auto 2.313rem;

    .benefits-description {
      width: 26rem;
    }

    h2 {
      font-size: 2.25rem;
      padding-bottom: 1.875rem;
      font-family: $secondary-font;
      width: 16.875rem;
      font-weight: 400;
    }

    p {
      line-height: 1.375rem;
      font-size: 1rem;
      font-family: "Open Sans", sans-serif;
      position: relative;
    }
  }

  .line1,
  .line2 {
    border: 1px solid #E8E9ED;
    background-color: #fff;
  }

  /* FIRST BOX ARTICLE */

  .line1 {
    display: flex;
    position: relative;
    z-index: 5;

    &::after {
      content: "";
      position: absolute;
      right: 4.4375rem;
      top: 2.5rem;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      border-radius: 41px;
      background: #FB3B64;
      width: 11.25rem;
      height: 11.25rem;
    }

    p:after {
      content: "";
      width: 20.4375rem;
      bottom: -3.125rem;
      left: 0;
      position: absolute;
      border-bottom: 4px solid #FB3B64;
    }

    img {
      height: 13.375rem;
      width: 24.125rem;
      position: relative;
      z-index: 2;
    }
  }

  /* SECOND BOX ARTICLE */

  .line2 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    z-index: 5;

    &::after {
      content: "";
      position: absolute;
      left: 4.375rem;
      bottom: 2.375rem;
      border-radius: 50%;
      background: #07ace6;
      width: 20rem;
      height: 20rem;
    }

    p:after {
      content: "";
      width: 20.4375rem;
      bottom: -3.125rem;
      left: 0;
      position: absolute;
      border-bottom: 4px solid #08A6E4;
    }

    img {
      height: 20.5rem;
      width: 26.625rem;
      position: relative;
      z-index: 2;
    }
  }

  /* THIRD BOX ARTICLE */

  .line3 {
    display: flex;
    width: 70.30rem;

    p:after {
      content: "";
      width: 20.4375rem;
      bottom: -3.125rem;
      left: 0;
      position: absolute;
      border-bottom: 4px solid #55DFB4;
    }

    .benefits {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid #E8E9ED;
      padding: 0 3.125rem;
      border-radius: 5px;
      width: 38.94rem;
      height: 23.13rem;
      margin-right: 3.125rem;
    }

  }

  .divided {
    .benefits {
      h2 {
        width: 25rem;
      }
      p {
        position: relative;
      }
    }

    .line3 {
      img {
        height: 12.94rem;
        width: 18.44rem;
      }
      .benefits-image {
        width: 27.5rem;
        height: 23.13rem;
        background: #55DFB4;
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
