nav {
  width: 100vw;
  position: fixed;
  flex-direction: column;

  .top-nav {
    width: 100vw;
    height: 4.375rem;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 3rem;
    box-shadow: 0 3px 6px #00000029;
    background: #FFFFFF;
    position: relative;
    z-index: 500;


    .nav-logo {
      font-family: $secondary-font;
      font-weight: 300;
      font-size: 2rem;
      color: #08A6E4;
    }
  }
}

.hamburger {
  border: none;
  cursor: pointer;

  .fa-times {
    font-size: 2rem;
    color: #08A6E4;
    background-color: #FFF;
  }

  .fa-bars {
    font-size: 2rem;
    color: #08A6E4;
    background-color: #FFF;
  }
}

.bottom-nav {
  width: 100vw;
  padding: 2rem;
  background-color: #FFF;
  box-shadow: 0 3px 6px #00000029;
  position: relative;
  z-index: -1;
}

.links-list {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;


  li {
    padding-bottom: 1rem;
    font-family: $main-font;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #A5A5A5;
      letter-spacing: 0.1875rem;

      &:hover {
        color: #000000;
      }
    }
  }
}

@media (min-width: 1353px) {
  nav {
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 200;
    flex-direction: row;
    box-shadow: 0 3px 6px #00000029;

    .top-nav {
      justify-content: space-between;
      align-items: center;
      box-shadow: none;
    }

    .hamburger {
      display: none;
    }

    .bottom-nav{
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      padding: 0;
      height: 4.375rem;
    }
  }

  .links-list {
    flex-direction: row;
    li {
      font-family: $main-font;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-left: 5rem;
      list-style-type: none;

      a {
        text-decoration: none;
        color: #A5A5A5;
        letter-spacing: 0.1875rem;

        &:hover {
          color: #000000;
          border-bottom: 4px solid #08A6E4;
          padding: 1rem 0;
        }
      }
    }
  }

}
